/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#layout-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  min-width: 200px;
}

#layout-container .accordion ._content {
  padding: 0;
}

/**
 * Common styles for shared components
 */

.grid-container {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  min-width: 140px;
  margin-inline-start: 16px;
}

.grid-container:first-child {
  margin-bottom: 10px;
}

.grid-container > span {
  font-weight: 600;
  margin-bottom: 5px;
  pointer-events: none;
}

.grid-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#layout-container li {
  padding: 3px 0;
  -moz-user-select: none;
}

.flex-container input,
.grid-container input {
  margin-inline-end: 7px;
  vertical-align: middle;
}

.flex-container label,
.grid-container label {
  margin-inline-start: -3px;
}

/* Layout Properties: Common styles used for the Box Model and Flexbox Properties */

.layout-properties-header {
  font-size: 12px;
  padding: 2px 3px;
  -moz-user-select: none;
}

.layout-properties-expander {
  vertical-align: middle;
  display: inline-block;
  margin-inline-start: 2px;
  margin-inline-end: 1px;
}

.layout-properties-wrapper {
  column-width: 250px;
  column-gap: 20px;
  column-rule: 1px solid var(--theme-splitter-color);
}

.layout-properties-wrapper .computed-property-view {
  padding-inline-start: 20px;
}

.layout-properties-wrapper .computed-property-name-container {
  flex: 1;
}

.layout-properties-wrapper .computed-property-value-container {
  flex: 1;
  display: block;
}

#layout-flexbox-container {
  display: flex;
  flex-direction: column;
}

/**
 * Flex Container
 */

.flex-container {
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: 5px 0;
  padding-inline-start: 20px;
}

/**
 * Flex Item List
 */

.flex-item-list {
  border-bottom: 1px solid var(--theme-splitter-color);
  font-size: 12px;
  margin: 0;
  padding-inline-start: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flex-item-list .devtools-button {
  background-color: transparent;
}

/**
 * Flex Item Sizing Properties
 */

#flex-item-sizing-properties span {
 font-weight: 600;
}

/**
 * Flex Container Properties
 */

#flex-container-properties {
  margin-bottom: 5px;
}

#flex-container-properties .layout-properties-header {
  padding: 5px 0;
  padding-inline-start: 20px;
}

/**
 * Grid Container
 */

#layout-grid-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/**
 * Grid Content
 */

.grid-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px 0;
}

/**
 * Grid Outline
 */

.grid-outline-container {
  margin: 5px;
}

.grid-outline-container svg {
  overflow: visible;
}

.grid-outline-border {
  fill: none;
  stroke: currentColor;
  stroke-width: 0.75;
  vector-effect: non-scaling-stroke;
}

.grid-outline-cell {
  pointer-events: all;
  stroke: currentColor;
  stroke-dasharray: 0.5, 2;
  vector-effect: non-scaling-stroke;
}

.grid-outline-cell:hover {
  opacity: 0.45;
  fill: currentColor;
}

.grid-outline-line {
  opacity: 0;
  stroke-width: 10;
}

.grid-outline-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-graphs-full-red);
}

.grid-outline-text-icon {
  background: url("chrome://devtools/skin/images/sad-face.svg");
  margin-inline-end: 5px;
  width: 16px;
  height: 16px;
}

/**
 * Flexbox and Grid Item
 */

.flexbox-color-swatch,
.grid-color-swatch {
  width: 12px;
  height: 12px;
  margin-inline-start: -1px;
  border: 1px solid var(--theme-highlight-gray);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.flexbox-color-value,
.grid-color-value {
  display: none;
}

/**
 * Settings Item
 */

.grid-settings-item label {
  line-height: 16px;
}
