%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif
@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

*|*:root {
  --in-content-page-color: #0c0c0d;
  --in-content-page-background: #f9f9fa;
  --in-content-text-color: #0c0c0d;
  --in-content-selected-text: #fff;
  --in-content-box-background: #fff;
  --in-content-box-background-odd: #f3f6fa;
  --in-content-box-background-hover: #ebebeb;
  --in-content-box-background-active: #dadada;
  --in-content-box-border-color: #d7d7db;
  --in-content-item-hover: rgba(0,149,221,0.25);
  --in-content-item-selected: #0a84ff;
  --in-content-border-highlight: #0a84ff;
  --in-content-border-focus: #0a84ff;
  --in-content-border-color: #d7d7db;
  --in-content-category-outline-focus: 1px dotted #0a84ff;
  --in-content-category-text: rgba(12,12,13);
  --in-content-category-text-active: #0c0c0d;
  --in-content-category-text-selected: #0a84ff;
  --in-content-category-text-selected-active: #0060df;
  --in-content-category-background-hover: rgba(12,12,13,0.1);
  --in-content-category-background-active: rgba(12,12,13,0.15);
  --in-content-category-background-selected-hover: rgba(12,12,13,0.15);
  --in-content-category-background-selected-active: rgba(12,12,13,0.2);
  --in-content-tab-color: #424f5a;
  --in-content-link-color: #0a8dff;
  --in-content-link-color-hover: #0060df;
  --in-content-link-color-active: #003eaa;
  --in-content-link-color-visited: #0a8dff;
  --in-content-primary-button-background: #0a84ff;
  --in-content-primary-button-background-hover: #0060df;
  --in-content-primary-button-background-active: #003EAA;
  --in-content-table-background: #ebebeb;
  --in-content-table-border-dark-color: #d1d1d1;
  --in-content-table-header-background: #0a84ff;
  --grey-20: #ededf0;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
}

html|html,
xul|page,
xul|window {
  font: message-box;
  -moz-appearance: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

html|body {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

html|h1 {
  font-size: 2.5em;
  font-weight: lighter;
  line-height: 1.2;
  color: var(--in-content-text-color);
  margin: 0;
  margin-bottom: .5em;
}

html|hr {
  border-style: solid none none none;
  border-color: var(--in-content-border-color);
}

xul|caption {
  -moz-appearance: none;
  font-size: 1.14em;
  margin: 0;
}

html|h2,
xul|caption xul|checkbox,
xul|caption xul|label {
  font-weight: 600;
  line-height: 1.4em;
}

xul|caption xul|checkbox,
xul|caption xul|label {
  margin: 0 !important;
}

*|*.main-content {
  padding: 40px 28px;
  overflow: auto;
}

/* groupboxes */

xul|groupbox {
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
}

xul|groupbox > xul|caption {
  padding: 4px 0;
}

xul|groupbox xul|label:not(.menu-accel):not(.menu-iconic-accel):not(.menu-text):not(.menu-iconic-text):not(.menulist-label):not(.indent):not(.learnMore):not(.tail-with-learn-more),
xul|groupbox xul|description {
  /* !important needed to override toolkit !important rule */
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

/* tabpanels and tabs */

xul|tabpanels {
  -moz-appearance: none;
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
}

xul|tabs {
  margin-bottom: 15px;
  border-top: 1px solid var(--in-content-box-border-color);
  border-bottom: 1px solid var(--in-content-box-border-color);
  background-color: var(--in-content-page-background);
  color: var(--in-content-tab-color);
}

xul|tab {
  -moz-appearance: none;
  margin-top: 0;
  padding: 4px 20px 0 !important;
  min-height: 44px;
  color: inherit;
  background-color: var(--in-content-page-background);
  border-bottom: 4px solid transparent;
  transition: background-color 50ms ease 0s;
}

xul|tab:hover {
  background-color: var(--in-content-box-background-hover);
}

xul|tab[selected] {
  background-color: var(--in-content-box-background-hover);
  border-bottom-color: var(--in-content-border-highlight);
}

/* html buttons */

html|button {
  padding: 3px;
}

/* xul buttons and menulists */

*|button,
html|select,
xul|colorpicker[type="button"],
xul|menulist,
html|*.numberbox-input::-moz-number-spin-up,
html|*.numberbox-input::-moz-number-spin-down {
  -moz-appearance: none;
  min-height: 30px;
  color: var(--in-content-text-color);
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: var(--in-content-page-background);
  margin: 4px 8px;
  /* Ensure font-size isn't overridden by widget styling (e.g. in forms.css) */
  font-size: 1em;
}

xul|button,
html|button {
  /* use the same margin of other elements for the alignment */
  margin-left: 4px;
  margin-right: 4px;
}

html|select:not([size]):not([multiple]) {
  background-image: url("chrome://global/skin/in-content/dropdown.svg#dropdown");
  background-position: right 3px center;
  background-repeat: no-repeat;
  background-size: auto 18px;
  font-size: inherit;
  padding-inline-start: 5px;
  padding-inline-end: 24px;
  text-overflow: ellipsis;
}

html|select:not([size]):not([multiple]):dir(rtl){
  background-position: left 3px center;
}

html|button:enabled:hover,
html|select:not([size]):not([multiple]):enabled:hover,
html|*.numberbox-input::-moz-number-spin-up:hover,
html|*.numberbox-input::-moz-number-spin-down:hover,
xul|button:not([disabled="true"]):hover,
xul|colorpicker[type="button"]:not([disabled="true"]):hover,
xul|menulist:not([disabled="true"]):hover {
  background-color: var(--in-content-box-background-hover);
}

html|button:enabled:hover:active,
html|select:not([size]):not([multiple]):enabled:hover:active,
html|*.numberbox-input::-moz-number-spin-up:hover:active,
html|*.numberbox-input::-moz-number-spin-down:hover:active,
xul|button:not([disabled="true"]):hover:active,
xul|colorpicker[type="button"]:not([disabled="true"]):hover:active,
xul|menulist[open="true"]:not([disabled="true"]) {
  background-color: var(--in-content-box-background-active);
}

html|button:disabled,
html|select:disabled,
html|*.numberbox-input:disabled::-moz-number-spin-box,
xul|button[disabled="true"],
xul|colorpicker[type="button"][disabled="true"],
xul|menulist[disabled="true"] {
  opacity: 0.5;
}

*|button.primary {
  background-color: var(--in-content-primary-button-background);
  border-color: transparent;
  color: var(--in-content-selected-text);
}

html|button.primary:enabled:hover,
xul|button.primary:not([disabled="true"]):hover {
  background-color: var(--in-content-primary-button-background-hover);
}

html|button.primary:enabled:hover:active,
xul|button.primary:not([disabled="true"]):hover:active {
  background-color: var(--in-content-primary-button-background-active);
}

xul|colorpicker[type="button"] {
  padding: 6px;
  width: 50px;
}

xul|button > xul|*.button-box,
xul|menulist > xul|*.menulist-label-box {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

xul|menulist > xul|*.menulist-label-box > xul|*.menulist-icon[src] {
  margin-inline-end: 5px;
}

xul|button[type="menu"] > xul|*.button-box > xul|*.button-menu-dropmarker {
  -moz-appearance: none;
  margin: 1px 0;
  margin-inline-start: 10px;
  padding: 0;
  width: 10px;
  height: 16px;
  border: none;
  background-color: transparent;
  list-style-image: url("chrome://global/skin/in-content/dropdown.svg");
  -moz-context-properties: fill;
  fill: -moz-DialogText;
}

xul|*.help-button {
  min-width: 16px;
  margin-inline-end: 0;
  border-width: 0;
  background-image: none;
  box-shadow: none;
  list-style-image: url("chrome://global/skin/in-content/help-glyph.svg");
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: #999;
  stroke: #999;
  stroke-opacity: 0;
}

xul|*.help-button:not([disabled="true"]):hover {
  background-image: none;
  /* Override default button background */
  background-color: transparent;
  fill: white;
  stroke: #808080;
  stroke-opacity: 1;
}

xul|*.help-button:not([disabled="true"]):hover:active {
  background-image: none;
  /* Override default button background */
  background-color: transparent;
  stroke: #666;
}

xul|*.close-icon > xul|*.button-box,
xul|*.help-button > xul|*.button-box {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

xul|*.help-button > xul|*.button-box > xul|*.button-icon {
  width: 16px;
  height: 16px;
}

xul|*.help-button > xul|*.button-box > xul|*.button-text {
  display: none;
}

html|*.help-button {
  width: 16px;
  height: 16px;
  border: 0;
  padding: 0;
  display: inline-block;
  background-image: url("chrome://global/skin/in-content/help-glyph.svg");
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: #999;
  stroke: #999;
  stroke-opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

html|*.help-button:hover {
  fill: white;
  stroke: #808080;
  stroke-opacity: 1;
  background-color: var(--in-content-category-background-hover);
}

html|*.help-button:hover:active {
  stroke: #666;
  background-color: var(--in-content-category-background-active);
}

html|*.numberbox-input::-moz-number-spin-box {
  margin-inline-end: 1px;
}

html|*.numberbox-input::-moz-number-spin-up,
html|*.numberbox-input::-moz-number-spin-down {
  padding: 5px 8px;
  margin: 0;
  min-height: initial;
  background-position: center;
}

html|*.numberbox-input::-moz-number-spin-up {
  border-radius: 1px 1px 0 0;
  background-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

html|*.numberbox-input::-moz-number-spin-down  {
  border-radius: 0 0 1px 1px;
  background-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

xul|*.menulist-dropmarker {
  -moz-appearance: none;
  margin-inline-end: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  list-style-image: url("chrome://global/skin/in-content/dropdown.svg") !important; /* override dropmarker.css */
  -moz-context-properties: fill;
  fill: -moz-DialogText;
}

xul|*.menulist-dropmarker > xul|*.dropmarker-icon {
  width: 18px;
  height: 18px;
}

xul|menulist[disabled="true"] > xul|*.menulist-dropmarker {
  fill: GrayText;
}

xul|menulist > xul|menupopup,
xul|button[type="menu"] > xul|menupopup {
  -moz-appearance: none;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: var(--in-content-box-background);
}

xul|menulist > xul|menupopup xul|menu,
xul|menulist > xul|menupopup xul|menuitem,
xul|button[type="menu"] > xul|menupopup xul|menu,
xul|button[type="menu"] > xul|menupopup xul|menuitem {
  -moz-appearance: none;
  font-size: 1em;
  color: var(--in-content-text-color);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-inline-start: 10px;
  padding-inline-end: 30px;
}

xul|menulist > xul|menupopup > xul|menu:not([disabled="true"])[_moz-menuactive="true"],
xul|menulist > xul|menupopup > xul|menuitem:not([disabled="true"])[_moz-menuactive="true"],
xul|button[type="menu"] > xul|menupopup > xul|menu:not([disabled="true"])[_moz-menuactive="true"],
xul|button[type="menu"] > xul|menupopup > xul|menuitem:not([disabled="true"])[_moz-menuactive="true"] {
  color: var(--in-content-text-color);
  background-color: var(--in-content-item-hover);
}

xul|menulist > xul|menupopup > xul|menu:not([disabled="true"])[selected="true"],
xul|menulist > xul|menupopup > xul|menuitem:not([disabled="true"])[selected="true"],
xul|button[type="menu"] > xul|menupopup > xul|menu:not([disabled="true"])[selected="true"],
xul|button[type="menu"] > xul|menupopup > xul|menuitem:not([disabled="true"])[selected="true"] {
  color: var(--in-content-selected-text);
  background-color: var(--in-content-item-selected);
}

xul|menulist > xul|menupopup > xul|menu[disabled="true"],
xul|menulist > xul|menupopup > xul|menuitem[disabled="true"],
xul|button[type="menu"] > xul|menupopup > xul|menu[disabled="true"],
xul|button[type="menu"] > xul|menupopup > xul|menuitem[disabled="true"] {
  color: #999;
  /* override the [_moz-menuactive="true"] background color from
     global/menu.css */
  background-color: transparent;
}

xul|menulist > xul|menupopup xul|menuseparator,
xul|button[type="menu"] > xul|menupopup xul|menuseparator {
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--in-content-box-border-color);
  border-bottom: none;
}

/* textboxes */

html|input[type="email"],
html|input[type="tel"],
html|input[type="text"],
html|textarea,
xul|textbox {
  -moz-appearance: none;
  color: var(--in-content-text-color);
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: var(--in-content-box-background);
}

xul|textbox {
  min-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

xul|textbox[type="number"] {
  padding-inline-end: 0;
}

html|*.numberbox-input::-moz-number-text {
  margin-inline-end: 10px;
}

/* Create a separate rule to unset these styles on .tree-input instead of
   using :not(.tree-input) so the selector specifity doesn't change. */
xul|textbox.tree-input {
  min-height: unset;
  padding-right: unset;
  padding-left: unset;
}

html|input[type="email"],
html|input[type="tel"],
html|input[type="text"],
html|textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
}

html|input[type="email"]:focus,
html|input[type="tel"]:focus,
html|input[type="text"]:focus,
html|textarea:focus,
xul|textbox[focused] {
  border-color: var(--in-content-border-focus);
}

/* Don't show the field error outlines and focus borders at the same time.
   This doesn't apply to XUL <textbox> since they don't expose validity
   attributes */
html|input[type="email"]:-moz-ui-invalid:focus,
html|input[type="tel"]:-moz-ui-invalid:focus,
html|input[type="text"]:-moz-ui-invalid:focus,
html|textarea:-moz-ui-invalid:focus {
  border-color: transparent;
}

html|input[type="email"]:disabled,
html|input[type="tel"]:disabled,
html|input[type="text"]:disabled,
html|textarea:disabled,
xul|textbox[disabled="true"] {
  opacity: 0.5;
}

/* Links */

html|a,
.text-link {
  color: var(--in-content-link-color);
  text-decoration: none;
}

html|a:hover,
.text-link:hover {
  color: var(--in-content-link-color-hover);
  text-decoration: underline;
}

html|a:visited {
  color: var(--in-content-link-color-visited);
}

html|a:hover:active,
.text-link:hover:active {
  color: var(--in-content-link-color-active);
  text-decoration: none;
}

/* Checkboxes and radio buttons */

xul|checkbox {
  -moz-appearance: none;
  height: 30px;
  margin: 2px 0;
}

xul|*.checkbox-check,
html|input[type="checkbox"] {
  -moz-appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  margin: 0;
  margin-inline-end: 10px;
  background-color: #f1f1f1;
  background-image: linear-gradient(#fff, rgba(255,255,255,0.8));
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0,0,0,0.03);
}

xul|checkbox:not([disabled="true"]):hover > xul|*.checkbox-check,
html|input[type="checkbox"]:not(:disabled):hover {
  border-color: var(--in-content-border-focus);
}

xul|*.checkbox-check[checked] {
  list-style-image: url("chrome://global/skin/in-content/check.svg");
  -moz-context-properties: fill, stroke;
  fill: #2292d0;
  stroke: none;
}

html|input[type="checkbox"]:checked {
  background-image: url("chrome://global/skin/in-content/check.svg"), linear-gradient(#fff, rgba(255,255,255,0.8));
  -moz-context-properties: fill, stroke;
  fill: #2292d0;
  stroke: none;
}

xul|checkbox[disabled="true"] > xul|*.checkbox-check,
html|input[type="checkbox"]:disabled {
  opacity: 0.5;
}

xul|richlistitem > xul|*.checkbox-check {
  margin: 3px 6px;
}

html|*.toggle-container-with-text {
  display: flex;
  align-items: center;
}

xul|radio {
  margin-inline-start: 0;
  -moz-appearance: none;
}

xul|*.radio-check {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 50%;
  margin: 0;
  margin-inline-end: 10px;
  background-color: #f1f1f1;
  background-image: linear-gradient(#fff, rgba(255,255,255,0.80));
  box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0,0,0,0.03);
}

xul|radio:not([disabled="true"]):hover > xul|*.radio-check {
  border-color: var(--in-content-border-focus);
}

xul|*.radio-check[selected] {
  list-style-image: url("chrome://global/skin/in-content/radio.svg");
  -moz-context-properties: fill;
  fill: #2292d0;
}

xul|radio[disabled="true"] > xul|*.radio-check {
  opacity: 0.5;
}

xul|*.radio-label-box {
  margin-inline-start: -1px; /* negative margin for the transparent border */
  margin-inline-end: 8px;
  padding-inline-start: 0;
}

/* Category List */

*|*#categories {
  -moz-appearance: none;
  background-color: initial; /* override the background-color set on all richlistboxes in common.inc.css */
  padding-top: 70px;
  margin: 0;
  border-width: 0;
  width: 240px;
}

*|*#categories > *|*.category {
  min-height: 48px;
  -moz-appearance: none;
  color: var(--in-content-category-text);
  margin-inline-start: 34px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  transition: background-color 150ms;
}

*|*#categories > *|*.category:hover {
  background-color: var(--in-content-category-background-hover);
  border-radius: 2px;
}

*|*#categories > *|*.category:hover:active {
  background-color: var(--in-content-category-background-active);
}

*|*#categories > *|*.category[selected],
*|*#categories > *|*.category.selected {
  color: var(--in-content-category-text-selected);
  background: none;
}

*|*#categories > *|*.category[selected]:hover,
*|*#categories > *|*.category.selected:hover {
  background-color: var(--in-content-category-background-selected-hover);
}

*|*#categories > *|*.category[selected]:hover:active,
*|*#categories > *|*.category.selected:hover:active {
  color: var(--in-content-category-text-selected-active);
  background-color: var(--in-content-category-background-selected-active);
}

*|*#categories[keyboard-navigation="true"]:-moz-focusring > *|*.category[current] {
  outline: var(--in-content-category-outline-focus);
}

*|*.category-name {
  font-size: 1.07em;
  line-height: 1.4em;
  padding-bottom: 2px;
  padding-inline-start: 9px;
  margin: 0;
  -moz-user-select: none;
}

*|*.category-icon {
  width: 24px;
  height: 24px;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
}

*|*.category[selected] > *|*.category-icon,
*|*.category.selected > *|*.category-icon {
  fill-opacity: 1;
}

@media (max-width: 830px) {
  #categories {
    width: 118px;
  }

  .category-icon + .category-name {
    display: none;
  }

  #categories > .category {
    padding-inline-start: 13px; /* make category icons align center */
    margin-inline-end: 33px;
  }

  .main-content {
    padding-left: 0;
    padding-right: 0;
  }

  .pane-container {
    margin-inline-end: 10px;
  }
}

/* header */

*|*.header {
  margin-inline-end: 4px; /* add the 4px end-margin of other elements */
  margin-bottom: 15px;
  padding-bottom: 15px;
  -moz-box-align: baseline;
}

*|*.header-name {
  font-size: 1.46em;
  font-weight: 300;
  line-height: 1.3em;
  margin: 0;
  -moz-user-select: none;
}

/* List boxes */

html|select[size][multiple],
xul|richlistbox {
  -moz-appearance: none;
  margin-inline-start: 0;
  background-color: var(--in-content-box-background);
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  color: var(--in-content-text-color);
}

html|select[size][multiple] > html|option,
xul|treechildren::-moz-tree-row {
  padding: 0.3em;
  margin: 0;
  border: none;
  border-radius: 0;
  background-image: none;
}

xul|treechildren::-moz-tree-row(multicol, odd) {
  background-color: var(--in-content-box-background-odd);
}

html|select[size][multiple] > html|option:hover,
xul|treechildren::-moz-tree-row(hover) {
  background-color: var(--in-content-item-hover);
}

xul|treechildren::-moz-tree-row(selected) {
  background-color: var(--in-content-item-selected);
  color: var(--in-content-selected-text);
}

/* Trees */

xul|tree {
  -moz-appearance: none;
  font-size: 1em;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: var(--in-content-box-background);
  margin: 0;
}

xul|tree:-moz-focusring,
xul|richlistbox:-moz-focusring {
  border: 1px dotted var(--in-content-border-focus);
}

xul|listheader,
xul|treecols {
  -moz-appearance: none;
  border: none;
  border-bottom: 1px solid var(--in-content-border-color);
  padding: 0;
}

xul|treecol:not([hideheader="true"]),
xul|treecolpicker {
  -moz-appearance: none;
  border: none;
  background-color: var(--in-content-box-background-hover);
  color: #808080;
  padding: 5px 10px;
}

xul|treecol:not([hideheader="true"]):not([sortable="false"]):hover,
xul|treecolpicker:hover {
  background-color: var(--in-content-box-background-active);
  color: var(--in-content-text-color);
}

xul|treecol:not([hideheader="true"]):not(:first-child),
xul|treecolpicker {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-image: linear-gradient(transparent 0%, transparent 20%, #c1c1c1 20%, #c1c1c1 80%, transparent 80%, transparent 100%) 1 1;
}

xul|treecol:not([hideheader="true"]) > xul|*.treecol-sortdirection[sortDirection] {
  list-style-image: url("chrome://global/skin/in-content/dropdown.svg");
  -moz-context-properties: fill;
  fill: -moz-DialogText;
  width: 18px;
  height: 18px;
}

xul|treecol:not([hideheader="true"]) > xul|*.treecol-sortdirection[sortDirection="ascending"] {
  transform: scaleY(-1);
}

/* This is the only way to increase the height of a tree row unfortunately */
xul|treechildren::-moz-tree-row {
  min-height: 2em;
}

/* Color needs to be set on tree cell in order to be applied */
xul|treechildren::-moz-tree-cell-text,
xul|treechildren::-moz-tree-image {
  color: var(--in-content-text-color);
}

xul|treechildren::-moz-tree-cell-text(selected),
xul|treechildren::-moz-tree-image(selected) {
  color: var(--in-content-selected-text);
}

/* Message bars */
.message-bar {
  background-color: var(--grey-20);
  border-radius: 4px;
  color: var(--grey-90);
  min-height: 32px;
  padding: 0 4px;
}

/* The message-bar-button styles have extra specificity to override
 * the defaults for buttons. */
.message-bar > hbox > .message-bar-button {
  background-color: var(--grey-90-a10);
  border: none;
  border-radius: 2px;
  height: 24px;
  margin-inline-start: 8px;
  padding: 0 8px;
}

.message-bar > hbox > .message-bar-button:hover {
  background-color: var(--grey-90-a20);
}

.message-bar > hbox > .message-bar-button:active {
  background-color: var(--grey-90-a30);
}

.message-bar-icon {
  list-style-image: url("chrome://browser/skin/identity-icon.svg");
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-inline-end: 4px;
  -moz-context-properties: fill;
  fill: currentColor;
}
