/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../../shared/in-content/common.inc.css

xul|tab[visuallyselected] {
  /* Override styles for tab[selected] from
     toolkit/themes/linux/global/tabbox.css */
  margin-bottom: 0;
}

*|button.primary:focus,
xul|button:-moz-focusring {
  outline: 1px dotted;
  outline-offset: -2px;
}

xul|button > xul|*.button-box,
xul|menulist > xul|*.menulist-label-box {
  -moz-appearance: none;
}

xul|button[type="menu"] > xul|*.button-box > xul|*.button-menu-dropmarker {
  -moz-appearance: none !important;
}

xul|*.help-button > xul|*.button-box > xul|*.button-icon {
  margin-inline-end: 0;
}

xul|*.groupbox-body {
  padding-inline-start: 0;
}

xul|menulist {
  font-size: inherit;
}

xul|*.menulist-dropmarker {
  display: -moz-box;
  margin-top: 6px;
  margin-bottom: 6px;
}

xul|*.checkbox-check,
xul|*.radio-check {
  background-image: none;
}

xul|*.checkbox-check[checked] {
  fill: -moz-dialogText;
  stroke: none;
  background-color: -moz-dialog;
}

xul|*.radio-check[selected] {
  background-color: -moz-dialog;
  fill: -moz-dialogText;
}

xul|*.radio-label-box {
  -moz-appearance: none;
}

xul|*.numberbox-input-box {
  -moz-appearance: none;
  border-width: 0;
}

xul|menulist:-moz-focusring > xul|*.menulist-label-box,
html|input[type="checkbox"]:-moz-focusring + html|label:before {
  outline: 1px dotted;
}

html|button {
  /* XUL button min-width */
  min-width: 6.3em;
}
