/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button {
  -moz-appearance: button;
  /* The horizontal margin used here come from the Aqua Human Interface
     Guidelines, there should be 12 pixels between two buttons. */
  margin: 5px 6px 3px;
  min-width: 79px;
  color: ButtonText;
  text-shadow: none;
}

button:not([disabled="true"]):hover:active {
  color: -moz-mac-buttonactivetext;
}

/* When the window isn't focused, the default button background isn't drawn,
 * so don't change the text color then: */
button[default="true"]:not([disabled="true"]):not(:-moz-window-inactive) {
  color: -moz-mac-defaultbuttontext;
}

/* Likewise, when active (mousedown) but not hovering, the default button
 * background isn't drawn, override the previous selector for that case: */
button[default="true"]:not(:hover):active {
  color: ButtonText;
}

.button-text {
  margin: 1px 0 !important;
  margin-inline-start: 3px !important;
  margin-inline-end: 2px !important;
  text-align: center;
}

.button-icon {
  margin-inline-start: 1px;
}

button[type="default"] {
  font: menu;
}

/* .......... disabled state .......... */

button[disabled="true"] {
  color: GrayText;
}

/* ::::: menu buttons ::::: */

.button-menu-dropmarker {
  display: none;
  -moz-appearance: none !important;
  border: none;
  background-color: transparent !important;
  margin: 1px;
}

/* ::::: plain buttons ::::: */

button.plain {
  margin: 0 !important;
  padding: 0 !important;
}

/* ::::: help button ::::: */

button[dlgtype="help"] {
  -moz-appearance: -moz-mac-help-button;
  width: 20px;
}
