/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbarbutton {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0 2px;
  padding: 3px 2px;
  background-color: transparent;
}

.toolbarbutton-text {
  margin: 0 !important; /* !important for overriding global.css */
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

toolbarbutton[disabled="true"],
toolbarbutton[disabled="true"]:hover,
toolbarbutton[disabled="true"]:hover:active,
toolbarbutton[disabled="true"][open="true"] {
  color: -moz-mac-disabledtoolbartext;
}

/* ::::: toolbarbutton menu ::::: */

.toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
  padding: 0;
  padding-inline-start: 2px;
  width: auto;
}

.toolbarbutton-menu-dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.png");
  padding: 0;
  padding-inline-start: 2px;
}

/* ::::: toolbarbutton badged ::::: */

.toolbarbutton-badge {
  background-color: #d90000;
  font-size: 9px;
  padding: 1px 2px;
  color: #fff;
  text-shadow: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 hsla(0, 100%, 100%, .2) inset,
              0 -1px 0 hsla(0, 0%, 0%, .1) inset,
              0 1px 0 hsla(206, 50%, 10%, .2);
  margin: -6px 0 0 !important;
  margin-inline-end: -6px !important;
  min-width: 14px;
  max-width: 28px;
  line-height: 10px;
  text-align: center;
  -moz-stack-sizing: ignore;
}

toolbar[mode="icons"] > *|* > .toolbarbutton-badge {
  margin-inline-end: -10px !important;
}

toolbarbutton.tabbable {
  -moz-user-focus: normal !important;
}
