@charset "UTF-8";
/* This is the mac variant */
[lwt-newtab-brighttext] {
  -moz-osx-font-smoothing: grayscale; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*::-moz-focus-inner {
  border: 0; }

body {
  margin: 0; }

button,
input {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit; }

[hidden] {
  display: none !important; }

body {
  --newtab-background-color: #F9F9FA;
  --newtab-border-primary-color: #B1B1B3;
  --newtab-border-secondary-color: #D7D7DB;
  --newtab-button-primary-color: #0060DF;
  --newtab-button-secondary-color: inherit;
  --newtab-element-active-color: rgba(215, 215, 219, 0.6);
  --newtab-element-hover-color: #EDEDF0;
  --newtab-icon-primary-color: rgba(12, 12, 13, 0.8);
  --newtab-icon-secondary-color: rgba(12, 12, 13, 0.6);
  --newtab-icon-tertiary-color: #D7D7DB;
  --newtab-inner-box-shadow-color: rgba(0, 0, 0, 0.1);
  --newtab-link-primary-color: #0060DF;
  --newtab-link-secondary-color: #008EA4;
  --newtab-text-conditional-color: #4A4A4F;
  --newtab-text-primary-color: #0C0C0D;
  --newtab-text-secondary-color: #737373;
  --newtab-textbox-background-color: #FFF;
  --newtab-textbox-border: rgba(12, 12, 13, 0.2);
  --newtab-textbox-focus-color: #0060DF;
  --newtab-textbox-focus-boxshadow: 0 0 0 1px #0060DF, 0 0 0 4px rgba(0, 96, 223, 0.3);
  --newtab-contextmenu-background-color: #F9F9FA;
  --newtab-contextmenu-button-color: #FFF;
  --newtab-modal-color: #FFF;
  --newtab-overlay-color: rgba(237, 237, 240, 0.8);
  --newtab-section-header-text-color: #737373;
  --newtab-section-navigation-text-color: #737373;
  --newtab-section-active-contextmenu-color: #0C0C0D;
  --newtab-search-border-color: transparent;
  --newtab-search-dropdown-color: #FFF;
  --newtab-search-dropdown-header-color: #F9F9FA;
  --newtab-search-header-background-color: rgba(249, 249, 250, 0.95);
  --newtab-search-icon-color: rgba(12, 12, 13, 0.4);
  --newtab-topsites-background-color: #FFF;
  --newtab-topsites-icon-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color);
  --newtab-topsites-label-color: inherit;
  --newtab-card-active-outline-color: #D7D7DB;
  --newtab-card-background-color: #FFF;
  --newtab-card-hairline-color: rgba(0, 0, 0, 0.1);
  --newtab-card-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
  --newtab-snippets-background-color: #FFF;
  --newtab-snippets-hairline-color: transparent; }
  body[lwt-newtab-brighttext] {
    --newtab-background-color: #2A2A2E;
    --newtab-border-primary-color: rgba(249, 249, 250, 0.8);
    --newtab-border-secondary-color: rgba(249, 249, 250, 0.1);
    --newtab-button-primary-color: #0060DF;
    --newtab-button-secondary-color: #38383D;
    --newtab-element-active-color: rgba(249, 249, 250, 0.2);
    --newtab-element-hover-color: rgba(249, 249, 250, 0.1);
    --newtab-icon-primary-color: rgba(249, 249, 250, 0.8);
    --newtab-icon-secondary-color: rgba(249, 249, 250, 0.4);
    --newtab-icon-tertiary-color: rgba(249, 249, 250, 0.4);
    --newtab-inner-box-shadow-color: rgba(249, 249, 250, 0.2);
    --newtab-link-primary-color: #45A1FF;
    --newtab-link-secondary-color: #50BCB6;
    --newtab-text-conditional-color: #F9F9FA;
    --newtab-text-primary-color: #F9F9FA;
    --newtab-text-secondary-color: rgba(249, 249, 250, 0.8);
    --newtab-textbox-background-color: #38383D;
    --newtab-textbox-border: rgba(249, 249, 250, 0.2);
    --newtab-textbox-focus-color: #45A1FF;
    --newtab-textbox-focus-boxshadow: 0 0 0 1px #45A1FF, 0 0 0 4px rgba(69, 161, 255, 0.3);
    --newtab-contextmenu-background-color: #4A4A4F;
    --newtab-contextmenu-button-color: #2A2A2E;
    --newtab-modal-color: #2A2A2E;
    --newtab-overlay-color: rgba(12, 12, 13, 0.8);
    --newtab-section-header-text-color: rgba(249, 249, 250, 0.8);
    --newtab-section-navigation-text-color: rgba(249, 249, 250, 0.8);
    --newtab-section-active-contextmenu-color: #FFF;
    --newtab-search-border-color: rgba(249, 249, 250, 0.2);
    --newtab-search-dropdown-color: #38383D;
    --newtab-search-dropdown-header-color: #4A4A4F;
    --newtab-search-header-background-color: rgba(42, 42, 46, 0.95);
    --newtab-search-icon-color: rgba(249, 249, 250, 0.6);
    --newtab-topsites-background-color: #38383D;
    --newtab-topsites-icon-shadow: none;
    --newtab-topsites-label-color: rgba(249, 249, 250, 0.8);
    --newtab-card-active-outline-color: #4A4A4F;
    --newtab-card-background-color: #38383D;
    --newtab-card-hairline-color: rgba(249, 249, 250, 0.1);
    --newtab-card-shadow: 0 1px 8px 0 rgba(12, 12, 13, 0.2);
    --newtab-snippets-background-color: #38383D;
    --newtab-snippets-hairline-color: rgba(255, 255, 255, 0.1); }

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  -moz-context-properties: fill;
  display: inline-block;
  fill: var(--newtab-icon-primary-color);
  height: 16px;
  vertical-align: middle;
  width: 16px; }
  .icon.icon-spacer {
    margin-inline-end: 8px; }
  .icon.icon-small-spacer {
    margin-inline-end: 6px; }
  .icon.icon-bookmark-added {
    background-image: url("chrome://browser/skin/bookmark.svg"); }
  .icon.icon-bookmark-hollow {
    background-image: url("chrome://browser/skin/bookmark-hollow.svg"); }
  .icon.icon-clear-input {
    fill: var(--newtab-icon-secondary-color);
    background-image: url("../data/content/assets/glyph-cancel-16.svg"); }
  .icon.icon-delete {
    background-image: url("../data/content/assets/glyph-delete-16.svg"); }
  .icon.icon-search {
    background-image: url("chrome://browser/skin/search-glass.svg"); }
  .icon.icon-modal-delete {
    flex-shrink: 0;
    background-image: url("../data/content/assets/glyph-modal-delete-32.svg");
    background-size: 32px;
    height: 32px;
    width: 32px; }
  .icon.icon-dismiss {
    background-image: url("../data/content/assets/glyph-dismiss-16.svg"); }
  .icon.icon-info {
    background-image: url("../data/content/assets/glyph-info-16.svg"); }
  .icon.icon-import {
    background-image: url("../data/content/assets/glyph-import-16.svg"); }
  .icon.icon-new-window {
    background-image: url("../data/content/assets/glyph-newWindow-16.svg"); }
    .icon.icon-new-window:dir(rtl) {
      transform: scaleX(-1); }
  .icon.icon-new-window-private {
    background-image: url("chrome://browser/skin/privateBrowsing.svg"); }
  .icon.icon-settings {
    background-image: url("chrome://browser/skin/settings.svg"); }
  .icon.icon-pin {
    background-image: url("../data/content/assets/glyph-pin-16.svg"); }
    .icon.icon-pin:dir(rtl) {
      transform: scaleX(-1); }
  .icon.icon-unpin {
    background-image: url("../data/content/assets/glyph-unpin-16.svg"); }
    .icon.icon-unpin:dir(rtl) {
      transform: scaleX(-1); }
  .icon.icon-edit {
    background-image: url("../data/content/assets/glyph-edit-16.svg"); }
  .icon.icon-pocket {
    background-image: url("../data/content/assets/glyph-pocket-16.svg"); }
  .icon.icon-pocket-save {
    background-image: url("../data/content/assets/glyph-pocket-save-16.svg"); }
  .icon.icon-history-item {
    background-image: url("chrome://browser/skin/history.svg"); }
  .icon.icon-trending {
    background-image: url("../data/content/assets/glyph-trending-16.svg");
    transform: translateY(2px); }
  .icon.icon-now {
    background-image: url("chrome://browser/skin/history.svg"); }
  .icon.icon-topsites {
    background-image: url("../data/content/assets/glyph-topsites-16.svg"); }
  .icon.icon-pin-small {
    background-image: url("../data/content/assets/glyph-pin-12.svg");
    background-size: 12px;
    height: 12px;
    width: 12px; }
    .icon.icon-pin-small:dir(rtl) {
      transform: scaleX(-1); }
  .icon.icon-check {
    background-image: url("chrome://browser/skin/check.svg"); }
  .icon.icon-download {
    background-image: url("chrome://browser/skin/downloads/download-icons.svg#arrow-with-bar"); }
  .icon.icon-copy {
    background-image: url("chrome://browser/skin/edit-copy.svg"); }
  .icon.icon-open-file {
    background-image: url("../data/content/assets/glyph-open-file-16.svg"); }
  .icon.icon-webextension {
    background-image: url("../data/content/assets/glyph-webextension-16.svg"); }
  .icon.icon-highlights {
    background-image: url("../data/content/assets/glyph-highlights-16.svg"); }
  .icon.icon-arrowhead-down {
    background-image: url("../data/content/assets/glyph-arrowhead-down-16.svg"); }
  .icon.icon-arrowhead-down-small {
    background-image: url("../data/content/assets/glyph-arrowhead-down-12.svg");
    background-size: 12px;
    height: 12px;
    width: 12px; }
  .icon.icon-arrowhead-forward-small {
    background-image: url("../data/content/assets/glyph-arrowhead-down-12.svg");
    background-size: 12px;
    height: 12px;
    transform: rotate(-90deg);
    width: 12px; }
    .icon.icon-arrowhead-forward-small:dir(rtl) {
      transform: rotate(90deg); }
  .icon.icon-arrowhead-up {
    background-image: url("../data/content/assets/glyph-arrowhead-down-16.svg");
    transform: rotate(180deg); }
  .icon.icon-add {
    background-image: url("../data/content/assets/glyph-add-16.svg"); }
  .icon.icon-minimize {
    background-image: url("../data/content/assets/glyph-minimize-16.svg"); }
  .icon.icon-maximize {
    background-image: url("../data/content/assets/glyph-maximize-16.svg"); }

html {
  height: 100%; }

body,
#root {
  min-height: 100vh; }

body {
  background-color: var(--newtab-background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  overflow-y: scroll; }
  body.hide-onboarding > #onboarding-overlay-button,
  body.hide-main > #onboarding-overlay-button {
    display: none !important; }
  body.hide-main > #onboarding-notification-bar {
    display: none; }

h1,
h2 {
  font-weight: normal; }

a {
  text-decoration: none; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.inner-border {
  border: 1px solid var(--newtab-border-secondary-color);
  border-radius: 3px;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.show-on-init {
  opacity: 0;
  transition: opacity 0.2s ease-in; }
  .show-on-init.on {
    animation: fadeIn 0.2s;
    opacity: 1; }

.actions {
  border-top: 1px solid var(--newtab-border-secondary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 15px 25px 0; }

.button,
.actions button {
  background-color: var(--newtab-button-secondary-color);
  border: 1px solid var(--newtab-border-primary-color);
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 10px 30px;
  white-space: nowrap; }
  .button:hover:not(.dismiss),
  .actions button:hover:not(.dismiss) {
    box-shadow: 0 0 0 5px var(--newtab-card-active-outline-color);
    transition: box-shadow 150ms; }
  .button.dismiss,
  .actions button.dismiss {
    background-color: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline; }
  .button.primary, .button.done,
  .actions button.primary,
  .actions button.done {
    background-color: var(--newtab-button-primary-color);
    border: solid 1px var(--newtab-button-primary-color);
    color: #FFF;
    margin-inline-start: auto; }

input[type='text'], input[type='search'] {
  border-radius: 3px; }

#snippets-container {
  z-index: 1; }

.outer-wrapper {
  color: var(--newtab-text-primary-color);
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  padding: 30px 32px 32px; }
  .outer-wrapper.fixed-to-top {
    display: block; }
  .outer-wrapper a {
    color: var(--newtab-link-primary-color); }

main {
  margin: auto;
  padding-bottom: 68px;
  width: 274px; }
  @media (min-width: 482px) {
    main {
      width: 402px; } }
  @media (min-width: 610px) {
    main {
      width: 530px; } }
  @media (min-width: 866px) {
    main {
      width: 786px; } }
  @media (min-width: 1122px) {
    main {
      width: 1042px; } }
  main section {
    margin-bottom: 20px;
    position: relative; }
  .hide-main main {
    visibility: hidden; }

.base-content-fallback {
  height: 100vh; }


.body-wrapper .section-title,
.body-wrapper .sections-list .section:last-of-type,
.body-wrapper .topics {
  opacity: 0; }


.body-wrapper.on .section-title,
.body-wrapper.on .sections-list .section:last-of-type,
.body-wrapper.on .topics {
  opacity: 1; }

.non-collapsible-section {
  padding: 0 25px; }

.prefs-button button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  fill: var(--newtab-icon-primary-color);
  inset-inline-end: 15px;
  padding: 15px;
  position: fixed;
  top: 15px;
  z-index: 1000; }
  .prefs-button button:hover, .prefs-button button:focus {
    background-color: var(--newtab-element-hover-color); }
  .prefs-button button:active {
    background-color: var(--newtab-element-active-color); }

.as-error-fallback {
  align-items: center;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color);
  color: var(--newtab-text-conditional-color);
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  justify-items: center;
  line-height: 1.5; }
  .as-error-fallback a {
    color: var(--newtab-text-conditional-color);
    text-decoration: underline; }

.top-sites {
  margin-bottom: 2px; }

.top-sites-list {
  list-style: none;
  margin: 0 -16px;
  padding: 0; }
  @media (max-width: 482px) {
    .top-sites-list :nth-child(2n+1) .context-menu {
      margin-inline-end: auto;
      margin-inline-start: auto;
      inset-inline-end: auto;
      inset-inline-start: -32px; }
    .top-sites-list :nth-child(2n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 482px) and (max-width: 610px) {
    .top-sites-list :nth-child(3n+2) .context-menu,
    .top-sites-list :nth-child(3n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 610px) and (max-width: 866px) {
    .top-sites-list :nth-child(4n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 610px) and (max-width: 834px) {
    .top-sites-list :nth-child(4n+3) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 866px) and (max-width: 1314px) {
    .top-sites-list :nth-child(6n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 866px) and (max-width: 1090px) {
    .top-sites-list :nth-child(6n+5) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 1122px) and (max-width: 1570px) {
    .top-sites-list :nth-child(8n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 1122px) and (max-width: 1346px) {
    .top-sites-list :nth-child(8n+7) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media not all and (min-width: 1122px) {
    .top-sites-list .hide-for-narrow {
      display: none; } }
  .top-sites-list li {
    margin: 0 0 8px; }
  .top-sites-list:not(.dnd-active) .top-site-outer:-moz-any(.active, :focus, :hover) .tile {
    box-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color), 0 0 0 5px var(--newtab-card-active-outline-color);
    transition: box-shadow 150ms; }
  .top-sites-list:not(.dnd-active) .top-site-outer:-moz-any(.active, :focus, :hover) .context-menu-button {
    opacity: 1;
    transform: scale(1);
    transition-delay: 333ms; }

.top-site-outer {
  padding: 0 16px;
  display: inline-block; }
  .top-site-outer .top-site-inner {
    position: relative; }
    .top-site-outer .top-site-inner > a {
      color: inherit;
      display: block;
      outline: none; }
      .top-site-outer .top-site-inner > a:-moz-any(.active, :focus) .tile {
        box-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color), 0 0 0 5px var(--newtab-card-active-outline-color);
        transition: box-shadow 150ms; }
  .top-site-outer .context-menu-button {
    background-clip: padding-box;
    background-color: var(--newtab-contextmenu-button-color);
    background-image: url("chrome://browser/skin/page-action.svg");
    background-position: 55%;
    border: 1px solid var(--newtab-border-primary-color);
    border-radius: 100%;
    box-shadow: 0 2px rgba(12, 12, 13, 0.1);
    cursor: pointer;
    fill: var(--newtab-icon-primary-color);
    height: 27px;
    inset-inline-end: -13.5px;
    opacity: 0;
    position: absolute;
    top: -13.5px;
    transform: scale(0.25);
    transition-duration: 150ms;
    transition-property: transform, opacity;
    width: 27px; }
    .top-site-outer .context-menu-button:-moz-any(:active, :focus) {
      opacity: 1;
      transform: scale(1); }
  .top-site-outer .tile {
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color), var(--newtab-card-shadow);
    cursor: pointer;
    height: 96px;
    position: relative;
    width: 96px;
    align-items: center;
    color: var(--newtab-text-secondary-color);
    display: flex;
    font-size: 32px;
    font-weight: 200;
    justify-content: center;
    text-transform: uppercase;
    transition: box-shadow 150ms; }
    .top-site-outer .tile::before {
      content: attr(data-fallback); }
  .top-site-outer .screenshot {
    background-color: #FFF;
    background-position: top left;
    background-size: cover;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%; }
    .top-site-outer .screenshot.active {
      opacity: 1; }
  .top-site-outer .top-site-icon {
    background-color: var(--newtab-topsites-background-color);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: var(--newtab-topsites-icon-shadow);
    position: absolute; }
  .top-site-outer .rich-icon {
    background-size: cover;
    height: 100%;
    inset-inline-start: 0;
    top: 0;
    width: 100%; }
  .top-site-outer .default-icon,
  .top-site-outer .search-topsite {
    background-size: 32px;
    bottom: -6px;
    height: 42px;
    inset-inline-end: -6px;
    width: 42px;
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center; }
    .top-site-outer .default-icon[data-fallback]::before,
    .top-site-outer .search-topsite[data-fallback]::before {
      content: attr(data-fallback); }
  .top-site-outer .search-topsite {
    background-image: url("../data/content/assets/glyph-search-16.svg");
    background-size: 26px;
    background-color: #0060DF;
    border-radius: 42px;
    -moz-context-properties: fill;
    fill: #FFF;
    box-shadow: var(--newtab-card-shadow);
    transition-duration: 150ms;
    transition-property: background-size, bottom, inset-inline-end, height, width; }
  .top-site-outer:hover .search-topsite {
    background-size: 28px;
    border-radius: 46px;
    bottom: -9px;
    height: 46px;
    inset-inline-end: -9px;
    width: 46px; }
  .top-site-outer.search-shortcut .rich-icon {
    background-color: #FFF; }
  .top-site-outer .title {
    color: var(--newtab-topsites-label-color);
    font: message-box;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 96px;
    position: relative; }
    .top-site-outer .title .icon {
      fill: var(--newtab-icon-tertiary-color);
      inset-inline-start: 0;
      position: absolute;
      top: 10px; }
    .top-site-outer .title span {
      height: 30px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .top-site-outer .title.pinned span {
      padding: 0 13px; }
  .top-site-outer .edit-button {
    background-image: url("../data/content/assets/glyph-edit-16.svg"); }
  .top-site-outer.placeholder .tile {
    box-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color); }
  .top-site-outer.placeholder .screenshot {
    display: none; }
  .top-site-outer.dragged .tile {
    background: #EDEDF0;
    box-shadow: none; }
    .top-site-outer.dragged .tile *, .top-site-outer.dragged .tile::before {
      display: none; }
  .top-site-outer.dragged .title {
    visibility: hidden; }

.edit-topsites-wrapper .modal {
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2);
  left: 0;
  margin: 0 auto;
  max-height: calc(100% - 40px);
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 40px;
  width: 274px; }
  @media (min-width: 482px) {
    .edit-topsites-wrapper .modal {
      width: 402px; } }
  @media (min-width: 610px) {
    .edit-topsites-wrapper .modal {
      width: 530px; } }
  @media (min-width: 866px) {
    .edit-topsites-wrapper .modal {
      width: 786px; } }

.topsite-form .section-title {
  font-size: 16px;
  margin: 0 0 16px; }

.topsite-form .form-input-container {
  max-width: 492px;
  margin: 0 auto;
  padding: 32px; }
  .topsite-form .form-input-container .top-site-outer {
    pointer-events: none; }

.topsite-form .search-shortcuts-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 32px; }
  .topsite-form .search-shortcuts-container > div {
    margin-inline-end: -39px; }
  .topsite-form .search-shortcuts-container .top-site-outer {
    margin-inline-start: 0;
    margin-inline-end: 39px; }

.topsite-form .top-site-outer {
  padding: 0;
  margin: 24px 0 0;
  margin-inline-start: 32px; }

.topsite-form .fields-and-preview {
  display: flex; }

.topsite-form label {
  font-size: 13px; }

.topsite-form .form-wrapper {
  width: 100%; }
  .topsite-form .form-wrapper .field {
    position: relative; }
    .topsite-form .form-wrapper .field .icon-clear-input {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      inset-inline-end: 8px; }
  .topsite-form .form-wrapper .url input:dir(ltr) {
    padding-right: 32px; }
  .topsite-form .form-wrapper .url input:dir(rtl) {
    padding-left: 32px; }
    .topsite-form .form-wrapper .url input:dir(rtl):not(:placeholder-shown) {
      direction: ltr;
      text-align: right; }
  .topsite-form .form-wrapper .enable-custom-image-input {
    display: inline-block;
    font-size: 13px;
    margin-top: 4px;
    cursor: pointer; }
    .topsite-form .form-wrapper .enable-custom-image-input:hover {
      text-decoration: underline; }
  .topsite-form .form-wrapper .custom-image-input-container {
    margin-top: 4px; }
    .topsite-form .form-wrapper .custom-image-input-container .loading-container {
      width: 16px;
      height: 16px;
      overflow: hidden;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      inset-inline-end: 8px; }
    .topsite-form .form-wrapper .custom-image-input-container .loading-animation {
      width: 960px;
      height: 16px;
      -moz-context-properties: fill;
      fill: #0A84FF;
      background-image: url("chrome://browser/skin/tabbrowser/loading.svg");
      animation: tab-throbber-animation 1.05s steps(60) infinite; }

@keyframes tab-throbber-animation {
  100% {
    transform: translateX(-960px); } }

@keyframes tab-throbber-animation-rtl {
  100% {
    transform: translateX(960px); } }
      .topsite-form .form-wrapper .custom-image-input-container .loading-animation:dir(rtl) {
        animation-name: tab-throbber-animation-rtl; }
  .topsite-form .form-wrapper input[type='text'] {
    background-color: var(--newtab-textbox-background-color);
    border: 1px solid var(--newtab-textbox-border);
    margin: 8px 0;
    padding: 0 8px;
    height: 32px;
    width: 100%;
    font-size: 15px; }
    .topsite-form .form-wrapper input[type='text']:focus {
      border: 1px solid var(--newtab-textbox-focus-color);
      box-shadow: var(--newtab-textbox-focus-boxshadow); }
    .topsite-form .form-wrapper input[type='text'][disabled] {
      border: 1px solid var(--newtab-textbox-border);
      box-shadow: none;
      opacity: 0.4; }
  .topsite-form .form-wrapper .invalid input[type='text'] {
    border: 1px solid #D70022;
    box-shadow: 0 0 0 1px #D70022, 0 0 0 4px rgba(215, 0, 34, 0.3); }
  .topsite-form .form-wrapper .error-tooltip {
    animation: fade-up-tt 450ms;
    background: #D70022;
    border-radius: 2px;
    color: #FFF;
    inset-inline-start: 3px;
    padding: 5px 12px;
    position: absolute;
    top: 44px;
    z-index: 1; }
    .topsite-form .form-wrapper .error-tooltip::before {
      background: #D70022;
      bottom: -8px;
      content: '.';
      height: 16px;
      inset-inline-start: 12px;
      position: absolute;
      text-indent: -999px;
      top: -7px;
      transform: rotate(45deg);
      white-space: nowrap;
      width: 16px;
      z-index: -1; }

.topsite-form .actions {
  justify-content: flex-end; }
  .topsite-form .actions button {
    margin-inline-start: 10px;
    margin-inline-end: 0; }

@media (max-width: 482px) {
  .topsite-form .fields-and-preview {
    flex-direction: column; }
    .topsite-form .fields-and-preview .top-site-outer {
      margin-inline-start: 0; } }

.topsite-form .title {
  -moz-user-select: none; }

.topsite-form [type='checkbox']:not(:checked),
.topsite-form [type='checkbox']:checked {
  inset-inline-start: -9999px;
  position: absolute; }

.topsite-form [type='checkbox']:not(:checked) + label,
.topsite-form [type='checkbox']:checked + label {
  cursor: pointer;
  display: block;
  position: relative; }

.topsite-form [type='checkbox']:not(:checked) + label::before,
.topsite-form [type='checkbox']:checked + label::before {
  background: var(--newtab-background-color);
  border: 1px solid var(--newtab-textbox-border);
  border-radius: 3px;
  content: '';
  height: 21px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 21px;
  z-index: 1; }
  [dir='rtl'] .topsite-form [type='checkbox']:not(:checked) + label::before, [dir='rtl']
  .topsite-form [type='checkbox']:checked + label::before {
    left: auto;
    right: -8px; }

.topsite-form [type='checkbox']:not(:checked) + label::after,
.topsite-form [type='checkbox']:checked + label::after {
  background: url("chrome://global/skin/in-content/check.svg") no-repeat center center;
  content: '';
  height: 21px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 21px;
  -moz-context-properties: fill, stroke;
  fill: var(--newtab-link-primary-color);
  stroke: none;
  z-index: 2; }
  [dir='rtl'] .topsite-form [type='checkbox']:not(:checked) + label::after, [dir='rtl']
  .topsite-form [type='checkbox']:checked + label::after {
    left: auto;
    right: -8px; }

.topsite-form [type='checkbox']:checked + label .tile {
  box-shadow: 0 0 0 2px var(--newtab-link-primary-color); }

.topsite-form [type='checkbox']:not(:checked) + label::after {
  opacity: 0; }

.topsite-form [type='checkbox']:checked + label::after {
  opacity: 1; }

.topsite-form [type='checkbox']:checked:focus + label::before,
.topsite-form [type='checkbox']:not(:checked):focus + label::before {
  border: 1px dotted var(--newtab-link-primary-color); }

@keyframes fade-up-tt {
  0% {
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.sections-list .section-list {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, 224px);
  margin: 0; }
  @media (max-width: 610px) {
    .sections-list .section-list .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 610px) and (max-width: 866px) {
    .sections-list .section-list :nth-child(2n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 866px) and (max-width: 1314px) {
    .sections-list .section-list :nth-child(3n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }
  @media (min-width: 1122px) and (max-width: 1570px) {
    .sections-list .section-list :nth-child(3n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      inset-inline-end: 0;
      inset-inline-start: auto; } }

.sections-list .section-empty-state {
  border: 1px solid var(--newtab-border-secondary-color);
  border-radius: 3px;
  display: flex;
  height: 266px;
  width: 100%; }
  .sections-list .section-empty-state .empty-state {
    margin: auto;
    max-width: 350px; }
    .sections-list .section-empty-state .empty-state .empty-state-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      -moz-context-properties: fill;
      display: block;
      fill: var(--newtab-icon-secondary-color);
      height: 50px;
      margin: 0 auto;
      width: 50px; }
    .sections-list .section-empty-state .empty-state .empty-state-message {
      color: var(--newtab-text-primary-color);
      font-size: 13px;
      margin-bottom: 0;
      text-align: center; }
  @media (min-width: 1122px) {
    .sections-list .section-empty-state {
      height: 370px; } }

.top-stories-bottom-container {
  color: var(--newtab-section-navigation-text-color);
  font-size: 12px;
  line-height: 1.6;
  margin-top: 12px; }
  .top-stories-bottom-container a {
    color: var(--newtab-link-secondary-color);
    font-weight: bold; }
    .top-stories-bottom-container a.more-recommendations {
      font-weight: normal;
      font-size: 13px; }
  @media (min-width: 866px) {
    .top-stories-bottom-container {
      line-height: 16px;
      height: 16px; } }
  .top-stories-bottom-container::after {
    clear: both;
    content: '';
    display: table; }

@media (min-width: 1122px) {
  .sections-list .normal-cards .section-list {
    grid-template-columns: repeat(auto-fit, 309px); } }

.activity-stream.welcome {
  overflow: hidden; }

.activity-stream:not(.welcome) .overlay-wrapper {
  display: none; }

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 21000;
  transition: opacity 0.4s;
  opacity: 0;
  overflow-x: auto; }
  .overlay-wrapper.show {
    transition: none;
    opacity: 1; }
    .overlay-wrapper.show .firstrun-sign-in {
      transition: opacity 1.5s, transform 1.5s;
      transition-delay: 0.2s;
      transform: translateY(-50%) scale(1);
      opacity: 1; }
      @media screen and (max-width: 790px) {
        .overlay-wrapper.show .firstrun-sign-in {
          float: none;
          margin: auto;
          top: 190px;
          margin-bottom: 100px; } }
    .overlay-wrapper.show .firstrun-firefox-logo {
      transition: opacity 2.3s;
      opacity: 1; }
    .overlay-wrapper.show .firstrun-title,
    .overlay-wrapper.show .firstrun-content,
    .overlay-wrapper.show .firstrun-link {
      transition: transform 0.5s, opacity 0.8s;
      transform: translateY(0);
      opacity: 1; }
    .overlay-wrapper.show .firstrun-title {
      transition-delay: 0.2s; }
    .overlay-wrapper.show .firstrun-content {
      transition-delay: 0.4s; }
    .overlay-wrapper.show .firstrun-link {
      transition-delay: 0.6s; }
    .overlay-wrapper.show .fxaccounts-container {
      transition: none;
      opacity: 1; }

.background,
body.hide-main {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../data/content/assets/fox-tail.png"), linear-gradient(to bottom, #003EAA 40%, #004EC2 60%, #0060DF 80%, #0080FF 90%, #00C7FF 100%);
  background-position-x: center;
  background-position-y: -200px, top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed; }

.firstrun-sign-in {
  transform: translateY(-50%) scale(0.8);
  position: relative;
  top: 50%;
  width: 358px;
  opacity: 0;
  background-color: #FFF;
  float: inline-end;
  color: #0C0C0D;
  text-align: center;
  padding: 10px; }
  .firstrun-sign-in form {
    position: relative; }
  .firstrun-sign-in .extra-links {
    font-size: 12px;
    max-width: 340px;
    margin: 17px 50px;
    color: #676F7E;
    cursor: default; }
    .firstrun-sign-in .extra-links a {
      color: #737373;
      cursor: pointer;
      text-decoration: underline; }
    .firstrun-sign-in .extra-links a:hover,
    .firstrun-sign-in .extra-links a:active,
    .firstrun-sign-in .extra-links a:focus {
      color: #0A84FF; }
  .firstrun-sign-in .email-input {
    box-shadow: none;
    margin: auto;
    width: 244px;
    display: block;
    height: 40px;
    padding-inline-start: 20px;
    border: 1px solid #737373;
    border-radius: 2px;
    font-size: 16px;
    transition: border-color 150ms, box-shadow 150ms; }
    .firstrun-sign-in .email-input:hover {
      border-color: #0C0C0D; }
    .firstrun-sign-in .email-input:focus {
      border-color: #0A84FF;
      box-shadow: 0 0 0 3px rgba(10, 132, 255, 0.3); }
    .firstrun-sign-in .email-input.invalid {
      border-color: #D70022; }
    .firstrun-sign-in .email-input.invalid:focus {
      box-shadow: 0 0 0 3px rgba(215, 0, 34, 0.3); }
  .firstrun-sign-in .form-header {
    font-size: 22px;
    margin: 15px auto; }
  .firstrun-sign-in .form-header .sub-header {
    font-size: 14px;
    margin-top: 4px;
    display: block; }
  .firstrun-sign-in button {
    display: block;
    cursor: pointer;
    margin: 10px auto 0; }
  .firstrun-sign-in .continue-button {
    font-size: 18px;
    height: 43px;
    width: 250px;
    padding: 8px 0;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    background-color: #0060DF;
    transition: background-color 150ms; }
    .firstrun-sign-in .continue-button:not([disabled]):active, .firstrun-sign-in .continue-button:not([disabled]):hover {
      background: #003EAA;
      border-color: #002275; }
  .firstrun-sign-in .skip-button {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F9F9FA;
    color: #0A84FF;
    border: 1px solid #0A84FF;
    border-radius: 2px;
    min-height: 24px;
    padding: 5px 10px;
    transition: background-color 150ms, color 150ms, border-color 150ms; }
    .firstrun-sign-in .skip-button[disabled] {
      background-color: #EDEDF0;
      border-color: #B1B1B3;
      color: #737373;
      cursor: default;
      opacity: 0.5; }
    .firstrun-sign-in .skip-button:not([disabled]):hover {
      background-color: #0A84FF;
      border-color: #0060DF;
      color: #FFF; }

.firstrun-left-divider {
  position: relative;
  float: inline-start;
  clear: both;
  width: 435px; }
  @media screen and (max-width: 825px) {
    .firstrun-left-divider {
      width: 400px; } }
  @media screen and (max-width: 790px) {
    .firstrun-left-divider {
      margin: auto;
      float: none;
      width: 352px;
      text-align: center; } }

.firstrun-content {
  line-height: 1.5;
  margin-bottom: 48px;
  max-width: 352px;
  background: url("../data/content/assets/sync-devices.svg") bottom center no-repeat;
  padding-bottom: 210px; }

a.firstrun-link {
  color: #FFF;
  display: block;
  text-decoration: underline; }
  a.firstrun-link:hover, a.firstrun-link:active, a.firstrun-link:focus {
    color: #FFF; }

.firstrun-title {
  background: url("chrome://branding/content/about-logo.png") top left no-repeat;
  background-size: 90px 90px;
  margin: 40px 0 10px;
  padding-top: 110px; }
  @media screen and (max-width: 790px) {
    .firstrun-title {
      background: url("chrome://branding/content/about-logo.png") top center no-repeat;
      background-size: 90px 90px; } }
  .firstrun-title:dir(rtl) {
    background-position: top right; }

.fxaccounts-container {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  color: #FFF;
  height: 515px;
  margin: auto;
  width: 819px;
  z-index: 10;
  transition: opacity 0.3s;
  opacity: 0; }
  @media screen and (max-width: 825px) {
    .fxaccounts-container {
      width: 784px; } }
  @media screen and (max-width: 790px) {
    .fxaccounts-container {
      width: auto;
      height: 100%; } }

.firstrun-title,
.firstrun-content,
.firstrun-link {
  opacity: 0;
  transform: translateY(-5px); }

.error {
  display: none; }

.error.active {
  display: block;
  padding: 5px 12px;
  animation: fade-down 450ms;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  background-color: #D70022;
  position: absolute;
  inset-inline-start: 50px;
  top: -28px;
  border-radius: 2px; }
  .error.active::before {
    inset-inline-start: 12px;
    background: #D70022;
    bottom: -8px;
    content: '.';
    height: 16px;
    position: absolute;
    text-indent: -999px;
    transform: rotate(45deg);
    white-space: nowrap;
    width: 16px;
    z-index: -1; }

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-15px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.topics ul {
  margin: 0;
  padding: 0; }
  @media (min-width: 866px) {
    .topics ul {
      display: inline;
      padding-inline-start: 12px; } }

.topics ul li {
  display: inline-block; }
  .topics ul li::after {
    content: '•';
    padding: 8px; }
  .topics ul li:last-child::after {
    content: none; }

.search-wrapper {
  padding: 34px 0 64px; }
  @media (max-height: 700px) {
    .search-wrapper {
      padding: 0 0 30px; } }
  .search-wrapper .search-inner-wrapper {
    cursor: default;
    display: flex;
    height: 48px;
    margin: 0 auto;
    position: relative;
    width: 224px; }
    @media (min-width: 482px) {
      .search-wrapper .search-inner-wrapper {
        width: 352px; } }
    @media (min-width: 610px) {
      .search-wrapper .search-inner-wrapper {
        width: 480px; } }
    @media (min-width: 866px) {
      .search-wrapper .search-inner-wrapper {
        width: 736px; } }
  .search-wrapper input {
    background: var(--newtab-textbox-background-color) var(--newtab-search-icon) 12px center no-repeat;
    background-size: 24px;
    border: solid 1px var(--newtab-search-border-color);
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    -moz-context-properties: fill;
    fill: var(--newtab-search-icon-color);
    padding: 0;
    padding-inline-end: 48px;
    padding-inline-start: 46px;
    width: 100%; }
    .search-wrapper input:dir(rtl) {
      background-position-x: right 12px; }
  .search-wrapper:hover input {
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.25); }
  .search-wrapper .search-inner-wrapper:active input,
  .search-wrapper input:focus {
    border: 1px solid var(--newtab-textbox-focus-color);
    box-shadow: var(--newtab-textbox-focus-boxshadow); }
  .search-wrapper .search-button {
    background: url("chrome://browser/skin/forward.svg") no-repeat center center;
    background-size: 16px 16px;
    border: 0;
    border-radius: 0 3px 3px 0;
    -moz-context-properties: fill;
    fill: var(--newtab-search-icon-color);
    height: 100%;
    inset-inline-end: 0;
    position: absolute;
    width: 48px; }
    .search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
      background-color: rgba(12, 12, 13, 0.1);
      cursor: pointer; }
    .search-wrapper .search-button:active {
      background-color: rgba(12, 12, 13, 0.2); }
    .search-wrapper .search-button:dir(rtl) {
      transform: scaleX(-1); }

@media (min-height: 701px) {
  .fixed-search main {
    padding-top: 146px; }
  .fixed-search .search-wrapper {
    background-color: var(--newtab-search-header-background-color);
    border-bottom: solid 1px var(--newtab-border-secondary-color);
    height: 95px;
    left: 0;
    padding: 30px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9; }
    .fixed-search .search-wrapper .search-inner-wrapper {
      height: 35px; }
    .fixed-search .search-wrapper input {
      background-position-x: 16px;
      background-size: 16px; }
      .fixed-search .search-wrapper input:dir(rtl) {
        background-position-x: right 16px; } }

.contentSearchSuggestionTable {
  background-color: var(--newtab-search-dropdown-color);
  border: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.2);
  transform: translateY(4px); }
  .contentSearchSuggestionTable .contentSearchHeader {
    background-color: var(--newtab-search-dropdown-header-color);
    color: var(--newtab-text-secondary-color); }
  .contentSearchSuggestionTable .contentSearchHeader, .contentSearchSuggestionTable .contentSearchSettingsButton {
    border-color: var(--newtab-border-secondary-color); }
  .contentSearchSuggestionTable .contentSearchSuggestionsList {
    border: 0; }
  .contentSearchSuggestionTable .contentSearchOneOffsTable {
    background-color: var(--newtab-search-dropdown-header-color);
    border-top: solid 1px var(--newtab-border-secondary-color); }
  .contentSearchSuggestionTable .contentSearchSearchWithHeaderSearchText {
    color: var(--newtab-text-primary-color); }
  .contentSearchSuggestionTable .contentSearchSuggestionsContainer {
    background-color: var(--newtab-search-dropdown-color); }
  .contentSearchSuggestionTable .contentSearchSuggestionRow.selected {
    background: var(--newtab-element-hover-color);
    color: var(--newtab-text-primary-color); }
    .contentSearchSuggestionTable .contentSearchSuggestionRow.selected:active {
      background: var(--newtab-element-active-color); }
    .contentSearchSuggestionTable .contentSearchSuggestionRow.selected .historyIcon {
      fill: var(--newtab-icon-secondary-color); }
  .contentSearchSuggestionTable .contentSearchOneOffsTable .contentSearchSuggestionsContainer {
    background-color: var(--newtab-search-dropdown-header-color); }
  .contentSearchSuggestionTable .contentSearchOneOffItem {
    background-image: none;
    border-image: linear-gradient(transparent 18%, var(--newtab-border-secondary-color) 18%, var(--newtab-border-secondary-color) 82%, transparent 82%) 1;
    border-inline-end: 1px solid;
    position: relative; }
    .contentSearchSuggestionTable .contentSearchOneOffItem.selected {
      background: var(--newtab-element-hover-color); }
    .contentSearchSuggestionTable .contentSearchOneOffItem:active {
      background: var(--newtab-element-active-color); }
  .contentSearchSuggestionTable .contentSearchSettingsButton:hover {
    background: var(--newtab-element-hover-color);
    color: var(--newtab-text-primary-color); }

.contentSearchHeaderRow > td > img, .contentSearchSuggestionRow > td > .historyIcon {
  margin-inline-start: 7px;
  margin-inline-end: 15px; }

.context-menu {
  background: var(--newtab-contextmenu-background-color);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 14px;
  margin-inline-start: 5px;
  inset-inline-start: 100%;
  position: absolute;
  top: 6.75px;
  z-index: 8; }
  .context-menu > ul {
    list-style: none;
    margin: 0;
    padding: 5px 0; }
    .context-menu > ul > li {
      margin: 0;
      width: 100%; }
      .context-menu > ul > li.separator {
        border-bottom: 1px solid var(--newtab-border-secondary-color);
        margin: 5px 0; }
      .context-menu > ul > li > a {
        align-items: center;
        color: inherit;
        cursor: pointer;
        display: flex;
        line-height: 16px;
        outline: none;
        padding: 3px 12px;
        white-space: nowrap; }
        .context-menu > ul > li > a:-moz-any(:focus, :hover) {
          background: var(--newtab-element-hover-color); }
        .context-menu > ul > li > a:active {
          background: var(--newtab-element-active-color); }
        .context-menu > ul > li > a.disabled {
          opacity: 0.4;
          pointer-events: none; }

.confirmation-dialog .modal {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  margin-left: -200px;
  position: fixed;
  top: 20%;
  width: 400px; }

.confirmation-dialog section {
  margin: 0; }

.confirmation-dialog .modal-message {
  display: flex;
  padding: 16px;
  padding-bottom: 0; }
  .confirmation-dialog .modal-message p {
    margin: 0;
    margin-bottom: 16px; }

.confirmation-dialog .actions {
  border: 0;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 16px; }
  .confirmation-dialog .actions button {
    margin-inline-end: 16px;
    padding-inline-end: 18px;
    padding-inline-start: 18px;
    white-space: normal;
    width: 50%; }
    .confirmation-dialog .actions button.done {
      margin-inline-end: 0;
      margin-inline-start: 0; }

.confirmation-dialog .icon {
  margin-inline-end: 16px; }

.modal-overlay {
  background: var(--newtab-overlay-color);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11001; }

.modal {
  background: var(--newtab-modal-color);
  border: 1px solid var(--newtab-border-secondary-color);
  border-radius: 5px;
  font-size: 15px;
  z-index: 11002; }

.card-outer {
  background: var(--newtab-card-background-color);
  border-radius: 3px;
  display: inline-block;
  height: 266px;
  margin-inline-end: 32px;
  position: relative;
  width: 100%; }
  .card-outer .context-menu-button {
    background-clip: padding-box;
    background-color: var(--newtab-contextmenu-button-color);
    background-image: url("chrome://browser/skin/page-action.svg");
    background-position: 55%;
    border: 1px solid var(--newtab-border-primary-color);
    border-radius: 100%;
    box-shadow: 0 2px rgba(12, 12, 13, 0.1);
    cursor: pointer;
    fill: var(--newtab-icon-primary-color);
    height: 27px;
    inset-inline-end: -13.5px;
    opacity: 0;
    position: absolute;
    top: -13.5px;
    transform: scale(0.25);
    transition-duration: 150ms;
    transition-property: transform, opacity;
    width: 27px; }
    .card-outer .context-menu-button:-moz-any(:active, :focus) {
      opacity: 1;
      transform: scale(1); }
  .card-outer.placeholder {
    background: transparent; }
    .card-outer.placeholder .card {
      box-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color); }
    .card-outer.placeholder .card-preview-image-outer,
    .card-outer.placeholder .card-context {
      display: none; }
  .card-outer .card {
    border-radius: 3px;
    box-shadow: var(--newtab-card-shadow);
    height: 100%; }
  .card-outer > a {
    color: inherit;
    display: block;
    height: 100%;
    outline: none;
    position: absolute;
    width: 100%; }
    .card-outer > a:-moz-any(.active, :focus) .card {
      box-shadow: 0 0 0 5px var(--newtab-card-active-outline-color);
      transition: box-shadow 150ms; }
    .card-outer > a:-moz-any(.active, :focus) .card-title {
      color: var(--newtab-link-primary-color); }
  .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) {
    box-shadow: 0 0 0 5px var(--newtab-card-active-outline-color);
    transition: box-shadow 150ms;
    outline: none; }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .context-menu-button {
      opacity: 1;
      transform: scale(1);
      transition-delay: 333ms; }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .card-title {
      color: var(--newtab-link-primary-color); }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .alternate ~ .card-host-name {
      display: none; }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .card-host-name.alternate {
      display: block; }
  .card-outer .card-preview-image-outer {
    background-color: #D7D7DB;
    border-radius: 3px 3px 0 0;
    height: 122px;
    overflow: hidden;
    position: relative; }
    [lwt-newtab-brighttext] .card-outer .card-preview-image-outer {
      background-color: #4A4A4F; }
    .card-outer .card-preview-image-outer::after {
      border-bottom: 1px solid var(--newtab-card-hairline-color);
      bottom: 0;
      content: '';
      position: absolute;
      width: 100%; }
    .card-outer .card-preview-image-outer .card-preview-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      opacity: 0;
      transition: opacity 1s cubic-bezier(0.07, 0.95, 0, 1);
      width: 100%; }
      .card-outer .card-preview-image-outer .card-preview-image.loaded {
        opacity: 1; }
  .card-outer .card-details {
    padding: 15px 16px 12px; }
  .card-outer .card-text {
    max-height: 78px;
    overflow: hidden; }
    .card-outer .card-text.no-host-name, .card-outer .card-text.no-context {
      max-height: 97px; }
    .card-outer .card-text.no-host-name.no-context {
      max-height: 116px; }
    .card-outer .card-text:not(.no-description) .card-title {
      max-height: 57px;
      overflow: hidden; }
  .card-outer .card-host-name {
    color: var(--newtab-text-secondary-color);
    font-size: 10px;
    overflow: hidden;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap; }
  .card-outer .card-host-name.alternate {
    display: none; }
  .card-outer .card-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin: 0 0 2px;
    word-wrap: break-word; }
  .card-outer .card-description {
    font-size: 12px;
    line-height: 19px;
    margin: 0;
    overflow: hidden;
    word-wrap: break-word; }
  .card-outer .card-context {
    bottom: 0;
    color: var(--newtab-text-secondary-color);
    display: flex;
    font-size: 11px;
    inset-inline-start: 0;
    padding: 9px 16px 9px 14px;
    position: absolute; }
  .card-outer .card-context-icon {
    fill: var(--newtab-text-secondary-color);
    height: 22px;
    margin-inline-end: 6px; }
  .card-outer .card-context-label {
    flex-grow: 1;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

@media (min-width: 1122px) {
  .normal-cards .card-outer {
    height: 370px; }
    .normal-cards .card-outer .card-preview-image-outer {
      height: 155px; }
    .normal-cards .card-outer .card-details {
      padding: 13px 16px 12px; }
    .normal-cards .card-outer .card-text {
      max-height: 140px; }
    .normal-cards .card-outer .card-host-name {
      font-size: 12px;
      padding-bottom: 5px; }
    .normal-cards .card-outer .card-title {
      font-size: 17px;
      line-height: 23px;
      margin-bottom: 0; }
    .normal-cards .card-outer .card-text:not(.no-description) .card-title {
      max-height: 69px; }
    .normal-cards .card-outer .card-description {
      font-size: 15px;
      line-height: 23px; }
    .normal-cards .card-outer .card-context {
      bottom: 4px;
      font-size: 14px; } }

.compact-cards .card-outer {
  height: 160px; }
  .compact-cards .card-outer .card-preview-image-outer {
    height: 108px; }
  .compact-cards .card-outer .card-details {
    padding: 12px 16px; }
  .compact-cards .card-outer .card-host-name {
    line-height: 10px; }
  .compact-cards .card-outer .card-text .card-title,
  .compact-cards .card-outer .card-text:not(.no-description) .card-title {
    font-size: 12px;
    line-height: 13px;
    max-height: 17px;
    overflow: hidden;
    padding: 0 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .compact-cards .card-outer .card-description {
    display: none; }
  .compact-cards .card-outer .card-context {
    background-color: var(--newtab-card-background-color);
    border-radius: 16px;
    clip-path: inset(-1px -1px 4px);
    height: 32px;
    width: 32px;
    padding: 8px;
    top: 92px;
    inset-inline-end: 12px;
    inset-inline-start: auto; }
    .compact-cards .card-outer .card-context::after {
      border: 1px solid var(--newtab-card-hairline-color);
      border-bottom: 0;
      border-radius: 17px 17px 0 0;
      content: '';
      position: absolute;
      height: 17px;
      width: 34px;
      top: -1px;
      left: -1px; }
    .compact-cards .card-outer .card-context .card-context-icon {
      margin-inline-end: 0;
      height: 16px;
      width: 16px; }
      .compact-cards .card-outer .card-context .card-context-icon.icon-bookmark-added {
        fill: #0A84FF; }
      .compact-cards .card-outer .card-context .card-context-icon.icon-download {
        fill: #12BC00; }
      .compact-cards .card-outer .card-context .card-context-icon.icon-pocket {
        fill: #D70022; }
    .compact-cards .card-outer .card-context .card-context-label {
      display: none; }

@media not all and (min-width: 1122px) {
  .compact-cards .hide-for-narrow {
    display: none; } }

.manual-migration-container {
  color: var(--newtab-text-conditional-color);
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 610px) {
    .manual-migration-container {
      display: flex;
      justify-content: space-between;
      text-align: left; } }
  .manual-migration-container p {
    margin: 0; }
    @media (min-width: 610px) {
      .manual-migration-container p {
        align-self: center;
        display: flex;
        justify-content: space-between; } }
  .manual-migration-container .icon {
    display: none; }
    @media (min-width: 610px) {
      .manual-migration-container .icon {
        align-self: center;
        display: block;
        fill: var(--newtab-icon-secondary-color);
        margin-inline-end: 6px; } }

.manual-migration-actions {
  border: 0;
  display: block;
  flex-wrap: nowrap; }
  @media (min-width: 610px) {
    .manual-migration-actions {
      display: flex;
      justify-content: space-between;
      padding: 0; } }
  .manual-migration-actions button {
    align-self: center;
    height: 26px;
    margin: 0;
    margin-inline-start: 20px;
    padding: 0 12px; }

.collapsible-section {
  padding: 10px 25px;
  transition-delay: 100ms;
  transition-duration: 100ms;
  transition-property: background-color; }
  .collapsible-section .section-title {
    font-size: 13px;
    font-weight: bold;
    margin: 0; }
    .collapsible-section .section-title span {
      color: var(--newtab-section-header-text-color);
      display: inline-block;
      fill: var(--newtab-section-header-text-color);
      vertical-align: middle; }
    .collapsible-section .section-title .click-target-container {
      vertical-align: top; }
      .collapsible-section .section-title .click-target-container .click-target {
        cursor: pointer;
        white-space: nowrap; }
    .collapsible-section .section-title .collapsible-arrow {
      margin-inline-start: 8px;
      margin-top: -1px; }
  .collapsible-section .section-top-bar {
    min-height: 19px;
    margin-bottom: 13px;
    position: relative; }
    .collapsible-section .section-top-bar .context-menu-button {
      background: url("chrome://browser/skin/page-action.svg") no-repeat right center;
      border: 0;
      cursor: pointer;
      fill: var(--newtab-section-header-text-color);
      height: 100%;
      inset-inline-end: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition-duration: 200ms;
      transition-property: opacity;
      width: 27px; }
      .collapsible-section .section-top-bar .context-menu-button:-moz-any(:active, :focus, :hover) {
        fill: #0C0C0D;
        opacity: 1; }
    .collapsible-section .section-top-bar .context-menu {
      top: 16px; }
    @media (max-width: 1458px) {
      .collapsible-section .section-top-bar .context-menu {
        margin-inline-end: 5px;
        margin-inline-start: auto;
        inset-inline-end: 0;
        inset-inline-start: auto; } }
  .collapsible-section:hover .section-top-bar .context-menu-button, .collapsible-section.active .section-top-bar .context-menu-button {
    opacity: 1; }
  .collapsible-section.active {
    background: var(--newtab-element-hover-color);
    border-radius: 4px; }
    .collapsible-section.active .section-top-bar .context-menu-button {
      fill: var(--newtab-section-active-contextmenu-color); }
  .collapsible-section .learn-more-link {
    font-size: 11px;
    margin-inline-start: 12px; }
    .collapsible-section .learn-more-link a span {
      color: var(--newtab-link-secondary-color); }
  .collapsible-section .section-body-fallback {
    height: 266px; }
  .collapsible-section .section-body {
    margin: 0 -7px;
    padding: 0 7px; }
    .collapsible-section .section-body.animating {
      overflow: hidden;
      pointer-events: none; }
  .collapsible-section.animation-enabled .section-title .collapsible-arrow {
    transition: transform 0.5s cubic-bezier(0.07, 0.95, 0, 1); }
  .collapsible-section.animation-enabled .section-body {
    transition: max-height 0.5s cubic-bezier(0.07, 0.95, 0, 1); }
  .collapsible-section.collapsed .section-body {
    max-height: 0;
    overflow: hidden; }

.asrouter-admin {
  max-width: 996px;
  margin: 0 auto;
  font-size: 14px;
  display: inherit;
  padding: 0 0 92px; }
  .asrouter-admin h1 {
    font-weight: 200;
    font-size: 32px; }
  .asrouter-admin table {
    border-collapse: collapse;
    width: 100%; }
  .asrouter-admin .message-item:first-child td {
    border-top: 1px solid var(--newtab-border-secondary-color); }
  .asrouter-admin .message-item td {
    vertical-align: top;
    border-bottom: 1px solid var(--newtab-border-secondary-color);
    padding: 8px; }
    .asrouter-admin .message-item td:first-child {
      border-left: 1px solid var(--newtab-border-secondary-color); }
    .asrouter-admin .message-item td:last-child {
      border-right: 1px solid var(--newtab-border-secondary-color); }
  .asrouter-admin .message-item.current .message-id span {
    background: #FFE900;
    padding: 2px 5px; }
    [lwt-newtab-brighttext] .asrouter-admin .message-item.current .message-id span {
      color: #000; }
  .asrouter-admin .message-item.blocked .message-id,
  .asrouter-admin .message-item.blocked .message-summary {
    opacity: 0.5; }
  .asrouter-admin .message-item.blocked .message-id {
    opacity: 0.5; }
  .asrouter-admin .message-item .message-id {
    font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
    font-size: 12px; }
  .asrouter-admin pre {
    background: var(--newtab-textbox-background-color);
    margin: 0;
    padding: 8px;
    font-size: 12px;
    max-width: 750px;
    overflow: auto;
    font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace; }

.pocket-logged-in-cta {
  font-size: 13px;
  margin-inline-end: 20px;
  display: inline-block; }
  .pocket-logged-in-cta .pocket-cta-button {
    background: #0060DF;
    letter-spacing: -0.34px;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    max-width: 130px;
    margin-top: -1px;
    min-height: 18px;
    padding: 0 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-inline-end: 10px; }
  .pocket-logged-in-cta .cta-text {
    font-weight: normal;
    font-size: 13px; }
  .pocket-logged-in-cta .pocket-cta-button,
  .pocket-logged-in-cta .cta-text {
    vertical-align: top; }

@media (min-width: 866px) {
  .more-recommendations {
    float: right; }
    .more-recommendations:dir(rtl) {
      float: left; } }

.more-recommendations::after {
  background: url("../data/content/assets/topic-show-more-12.svg") no-repeat center center;
  content: '';
  -moz-context-properties: fill;
  display: inline-block;
  fill: var(--newtab-link-secondary-color);
  height: 16px;
  margin-inline-start: 5px;
  vertical-align: top;
  width: 12px; }

.more-recommendations:dir(rtl)::after {
  transform: scaleX(-1); }

.ASRouterButton {
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid var(--newtab-border-secondary-color);
  background-color: var(--newtab-button-secondary-color);
  font-family: inherit;
  padding: 8px 15px;
  margin-inline-start: 12px;
  color: inherit; }
  .tall .ASRouterButton {
    margin-inline-start: 20px; }

.SnippetBaseContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--newtab-snippets-background-color);
  color: var(--newtab-text-primary-color);
  font-size: 12px;
  line-height: 16px;
  border-top: 1px solid var(--newtab-snippets-hairline-color);
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2);
  display: flex;
  align-items: center; }
  .SnippetBaseContainer .innerWrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 12px 25px;
    padding-inline-end: 36px;
    max-width: 786px; }
    @media (min-width: 866px) {
      .SnippetBaseContainer .innerWrapper {
        padding-inline-end: 25px; } }
    @media (min-width: 1122px) {
      .SnippetBaseContainer .innerWrapper {
        max-width: 1042px; } }
  .SnippetBaseContainer .blockButton {
    display: none;
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    inset-inline-end: 12px;
    height: 16px;
    width: 16px;
    background-image: url("resource://activity-stream/data/content/assets/glyph-dismiss-16.svg");
    -moz-context-properties: fill;
    fill: var(--newtab-icon-primary-color);
    opacity: 0.5;
    margin-top: -8px;
    padding: 0;
    cursor: pointer; }
    @media (min-width: 766px) {
      .SnippetBaseContainer .blockButton {
        inset-inline-end: 24px; } }
  .SnippetBaseContainer:hover .blockButton {
    display: block; }

.activity-stream.modal-open {
  overflow: hidden; }

.modalOverlayOuter {
  background: #FFF;
  opacity: 0.93;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  z-index: 1100; }
  .modalOverlayOuter.active {
    display: block; }

.modalOverlayInner {
  width: 960px;
  height: 510px;
  position: fixed;
  top: calc(50% - 255px);
  left: calc(50% - 480px);
  background: #FFF;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: none;
  z-index: 1101; }
  @media (max-width: 960px) {
    .modalOverlayInner {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: none;
      border-radius: 0; } }
  @media (max-width: 850px) and (max-height: 730px) {
    .modalOverlayInner {
      overflow-y: scroll; } }
  @media (max-width: 650px) and (max-height: 600px) {
    .modalOverlayInner {
      overflow-y: scroll; } }
  .modalOverlayInner.active {
    display: block; }
  .modalOverlayInner h2 {
    color: #4A4A4F;
    text-align: center;
    font-weight: 200;
    margin-top: 30px;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: -0.13px; }
    @media (max-width: 960px) {
      .modalOverlayInner h2 {
        margin-top: 100px; } }
    @media (max-width: 850px) {
      .modalOverlayInner h2 {
        margin-top: 30px; } }
  .modalOverlayInner .footer {
    border-top: 1px solid #D7D7DB;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #FFF; }
    @media (max-width: 850px) and (max-height: 730px) {
      .modalOverlayInner .footer {
        position: sticky; } }
    @media (max-width: 650px) and (max-height: 600px) {
      .modalOverlayInner .footer {
        position: sticky; } }
    .modalOverlayInner .footer .modalButton {
      margin-top: 20px;
      width: 150px;
      height: 30px;
      padding: 4px 0 6px;
      font-size: 15px; }
      .modalOverlayInner .footer .modalButton:focus, .modalOverlayInner .footer .modalButton.active {
        box-shadow: 0 0 0 5px var(--newtab-card-active-outline-color);
        transition: box-shadow 150ms; }

.SimpleSnippet.tall {
  padding: 27px 0; }

.SimpleSnippet .title {
  display: inline;
  font-size: inherit;
  margin: 0; }

.SimpleSnippet .titleIcon {
  background-repeat: no-repeat;
  background-size: 14px;
  height: 16px;
  width: 16px;
  margin-top: 2px;
  margin-inline-end: 2px;
  display: inline-block;
  vertical-align: top; }

.SimpleSnippet .body {
  display: inline;
  margin: 0; }

.SimpleSnippet .icon {
  height: 42px;
  width: 42px;
  margin-inline-end: 12px;
  flex-shrink: 0; }

.SimpleSnippet.tall .icon {
  margin-inline-end: 20px; }

.SimpleSnippet .ASRouterButton {
  cursor: pointer; }

.onboardingMessageContainer {
  display: grid;
  grid-column-gap: 21px;
  grid-template-columns: auto auto auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 850px) {
    .onboardingMessageContainer {
      grid-template-columns: none;
      grid-template-rows: auto auto auto;
      padding-left: 110px;
      padding-right: 110px; } }

.onboardingMessage {
  height: 340px;
  text-align: center;
  padding: 13px;
  font-weight: 200; }
  @media (max-width: 850px) {
    .onboardingMessage {
      height: 170px;
      text-align: left;
      padding: 10px;
      border-bottom: 1px solid #D7D7DB;
      display: flex;
      margin-bottom: 11px; }
      .onboardingMessage:last-child {
        border: 0; }
      .onboardingMessage .onboardingContent {
        padding-left: 10px;
        height: 100%; }
        .onboardingMessage .onboardingContent > span > h3 {
          margin-top: 0;
          margin-bottom: 4px;
          font-weight: 400; }
        .onboardingMessage .onboardingContent > span > p {
          margin-top: 0;
          line-height: 22px;
          font-size: 15px; } }
  @media (max-width: 650px) {
    .onboardingMessage {
      height: 250px; } }
  .onboardingMessage .onboardingMessageImage {
    height: 100px;
    width: 120px;
    background-size: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 850px) {
      .onboardingMessage .onboardingMessageImage {
        height: 75px;
        min-width: 80px;
        background-size: 80px; } }
    .onboardingMessage .onboardingMessageImage.addons {
      background-image: url("resource://activity-stream/data/content/assets/illustration-addons@2x.png"); }
    .onboardingMessage .onboardingMessageImage.privatebrowsing {
      background-image: url("resource://activity-stream/data/content/assets/illustration-privatebrowsing@2x.png"); }
    .onboardingMessage .onboardingMessageImage.screenshots {
      background-image: url("resource://activity-stream/data/content/assets/illustration-screenshots@2x.png"); }
    .onboardingMessage .onboardingMessageImage.gift {
      background-image: url("resource://activity-stream/data/content/assets/illustration-gift@2x.png"); }
  .onboardingMessage .onboardingContent {
    height: 175px; }
    .onboardingMessage .onboardingContent > span > h3 {
      color: #0C0C0D;
      margin-bottom: 8px;
      font-weight: 400; }
    .onboardingMessage .onboardingContent > span > p {
      color: #4A4A4F;
      margin-top: 0;
      height: 130px;
      margin-bottom: 12px;
      font-size: 15px;
      line-height: 22px; }
      @media (max-width: 650px) {
        .onboardingMessage .onboardingContent > span > p {
          margin-bottom: 0; } }
  .onboardingMessage .onboardingButton {
    background-color: rgba(12, 12, 13, 0.1);
    border: 0;
    width: 150px;
    height: 30px;
    margin-bottom: 23px;
    padding: 4px 0 6px;
    font-size: 15px; }
    @media (max-width: 850px) {
      .onboardingMessage .onboardingButton {
        float: right;
        margin-top: -60px;
        margin-right: -10px; } }
    @media (max-width: 650px) {
      .onboardingMessage .onboardingButton {
        float: none;
        margin-top: 30px; } }
    .onboardingMessage .onboardingButton:focus, .onboardingMessage .onboardingButton.active {
      box-shadow: 0 0 0 5px var(--newtab-card-active-outline-color);
      transition: box-shadow 150ms; }
  .onboardingMessage::before {
    content: '';
    height: 220px;
    width: 1px;
    position: absolute;
    background-color: #D7D7DB;
    margin-top: 40px;
    margin-left: 215px; }
    @media (max-width: 850px) {
      .onboardingMessage::before {
        content: none; } }
  .onboardingMessage:last-child::before {
    content: none; }

/*# sourceMappingURL=activity-stream-mac.css.map */